[Unit]
Description=SSH Tunnel Background Service
# Wait for the internet to come online
After=network.target network-online.target

[Service]
# Fork this service into a background process
Type=forking

# Always restart and try after > 2 seconds to avoid 'Too Fast' error
Restart=always
RestartSec=3

[Install]
# Always connect so the tunnel launches at startup
WantedBy=multi-user.target
